$icon-font-path: '../fonts/';
// bower:scss
$screen-lg: 1200px;
$grid-columns:              10;
$grid-gutter-width: 30px;
$container-large-desktop:      (1160px + $grid-gutter-width);
@import "bower_components/remodal/dist/remodal";
@import "bower_components/remodal/dist/remodal-default-theme";
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


// endbower

//header
body{
  padding-left: 5px;
  font-family: 'Microsoft YaHei';
}
.header {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #f1f2f3;
}
.container{
  min-width:700px
}
.header .container{
  padding-left: 15px;
  padding-right: 15px;
}
.menu {
  min-height: 16px;
  font-family: 'Microsoft YaHei';
  @at-root #{&}-block {
    &.menu-block--left {
      float: left;
    }
    &.menu-block--right {
      float: right;
    }
    margin-bottom:0px;
    display: block;
    font-size:13px;
    line-height: 16px;
  }
  @include make-row;
}
.menu-block{
  padding-left: 0px;
}
.menu-block .menu-item:last-of-type{
   border-right:0px;
}
.menu-block .menu-item:last-of-type{
   border-right:0px;
}
.menu-item {
  a {
    color: #6a6b6c;
    margin-right: 31px;
    text-decoration: normal;
  }
  color:#6a6b6c;
  position: relative;
  display: inline-block;
  border-right:1px solid #c4c5c6;
  padding-left:20px;
  
  //padding-right:40px;
}

.menu-item--location {
  padding-left:24px;
  color: #6a6b6c;
}

.menu-item--location a::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 1px;
  width: 14px;
  height: 20px;
  font-size: 17px;
  color: #004098;
   background: url('../images/pin.png');
}
.menu-item--phone{
  margin-left:15px;
  padding-left: 28px;
  padding-right:14px;
}
.menu-item--phone::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 18px;
  height: 18px;
  font-size: 17px;
  background: url('../images/phone.png');
}
.menu-item--price{
margin-left: 15px;
padding-left: 32px;
}

.menu-item--price a::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 23px;
  height: 18px;
  background: url('../images/rate.png');
  font-family: Glyphicons Halflings;
}
.menu-item a{
  &:hover{
color:black;
  }
  text-decoration: none;
  

}
.menu-item a::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 15px;
  background: url('../images/arrow.png') no-repeat center;
  right: 14px;
  transition: all 300ms ease-in;
}
.menu-item .open  a::after {
  transform: scaleY(-1);
  background: url('../images/arrow.png') no-repeat center;
 
}
.menu-item--price a::after {
  right: 16px;
}

.menu-item--logout::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  background: url('../images/logout.png') no-repeat center;
  color: #004098;
  font-family: Glyphicons Halflings;
}
.menu-item--user::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  font-size: 17px;
  background: url('../images/person.png') no-repeat center;
  font-family: Glyphicons Halflings;
}
.menu-item--list::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  font-size: 17px;
  background: url('../images/notes.png') no-repeat center;
  font-family: Glyphicons Halflings;
}
.menu-item--currency{
  position: relative;
  padding-left:13px; 
  a{
  &::after{ 
    right:8px;
  }
 
 margin-right: 30px; 
}
} 
.menu-item--user{
  &::before{
    top:-1px;
    left:15px;
    width:17px;
    height:19px;
  }
  padding-right:15px;
  padding-left:36px; 
}

.menu-item--list{
  &::before{
    top:-1px;
    left:13px;
    width:17px;
    height:19px;
  }
  padding-right: 15px;
padding-left: 33px;
}
.menu-item--logout{
  &::before{
    top:-1px;
    left:10px;
    width:17px;
    height:19px;
  }
  span{
    padding-right:10px;
  }
  padding-right: 15px;
  padding-left: 28px;
  cursor:pointer;
}
.c-blue{
  color:#004098;
}

//content-header
.content-header{
  font-family:'Microsoft YaHei';
  position: relative;
  min-height:143px;
  background: url('../images/logo.png') no-repeat;
  background-position: 6px calc(50% - 5px);
}
.content-header--auth{
 min-height:126px;
 border-bottom:3px solid #004098
}
.content-nav{
  display: block;
  width:293px;
  text-align: center;
  margin: 32px 495px 10px auto;
  min-width:100px;
  min-height:90px;

}
.content-nav__item{
  &:last-of-type{
    width:100px;
  }
  width:96px;
  float:left;
  display: block;
}
.content-nav__item a{
  text-decoration: none;
}
.content-nav__item__txt{
  text-decoration: none;
  font-size:18px;
  color: #004098;
  margin: 0 auto;
  margin-top: 8px;
  width:56px;
}
.content-nav__item:hover .content-nav__item__img{
  transform: scale(1.05,1.05);
}
.content-nav__item__img{
  transition: all 300ms linear;
  position: relative;
  margin: 0 auto;
  width:56px;
  height:56px;
   height:56px;
  border-radius:50%;
  background-color: #004098;
}
content-nav__item__img{
  padding:20px;
}
.content-nav__item--active .content-nav__item__img {
  background: #e56109;
}
.content-nav__item--active .content-nav__item__txt {
  color: #e56109;
}
.content-nav__item .content-nav__item__img::after{
  content:'';
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.content-nav__item--look .content-nav__item__img::after{
  background: url('../images/look.png') no-repeat center;
}
.content-nav__item--list .content-nav__item__img::after{
  background: url('../images/list.png') no-repeat center;;
}
.content-nav__item--params .content-nav__item__img::after{
  background: url('../images/params.png') no-repeat center;;
}
.language-selector{
  position: absolute;
  right:0px;
  top:26px;
  font-family: 'Microsoft YaHei';
  font-size: 13px;
  li{
    display: inline-block;
  }
  display:block;
}
.language-selector__item a{
  text-decoration: none;
  color:#004098;
}
.language-selector__item a::before{
  position: absolute;
  content:'';
  width:24px;
  height:16px;
  top:2px;
  left:5px;
  
}
.language-selector__item--ch a::before{
background: url('../images/ch.png');
}
.language-selector__item--ru a::before{
background: url('../images/ru.png');
}
.language-selector__item--en a::before{
background: url('../images/gb.png');
}
.language-selector__item{
  position: relative;
  padding-right:13px;
  padding-left: 32px; 
  margin-left:8px;
 border-right:1px solid #c4c5c6;
}
.language-selector__item--en{
  padding-right:10px;
  margin-left: 9px;
}
.language-selector__item--ch{
  padding-right:14px;
}
.language-selector__item:last-of-type{
  border-right:0px;
  padding-right: 0px;
}

.content-cart__count{
 
  box-sizing: border-box;
  color:white;
  position: absolute;
  font-size: 12px;
  background-color: #dd0e00;
  top:3px;
  line-height: 16px;
  padding-right:3px;
  padding-left:3px;
  border-radius:8px;;
  height:16px;
  right:5px;
}

.bold{
  font-weight: bold;
}
.sidebar-text{
  line-height: 18px;
    word-wrap: break-word;
  color:#454545;
  padding:19px 20px 110px 15px;
  font-size: 16px;
  font-weight: normal;
}
.sidebar-img{
  position: absolute;
  bottom:45px;
  width:100%;
  text-align: center
}
.user-alert{
  min-height:220px;
   border: 1px solid #e4e4e4;
}
.user-alert__container{
  
  
  @include make-xs-column(7);
  @include make-xs-column-offset(3);
  font-family: 'Microsoft YaHei';
   padding-left:70px;
 position: relative;
  
}
.user-alert__text{
  position: relative;
  line-height: 200px;
  font-size:20px;
  font-weight: bold;
  padding-left: 18px;
}
.user-alert__link{
  font-size: 16px;
  font-weight: normal;
  color:#004098;
  position: absolute;
  left:18px;
  bottom: -30px;
 
}
.user-alert__icon{
  width: 56px;
    height: 56px;
    left: 1px;
    bottom: 63px;
    position: absolute;
}
.main{
  border: 1px solid #e4e4e4;
}
.main-content{
  color:#6a6b6c;
  @include make-xs-column(10);
  padding-left:0px;
  padding-right:0px;
}
.main-content__header {
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top:10px;
  padding-right:4px; 
  text-align: center;
  color: #fc4015;
  font-size: 18px;
  background-color: #f1f2f3;
  font-weight: bold;
 
 
}
.main-content__steps{
  ol{
    padding-top:23px;
    padding-bottom:23px;
    margin-bottom: 0px;
    padding-left:43px;
  }
  max-width:700px;
  margin: 30px auto;
  background-color: #fffff0;
  border: 1px solid #ffcc66;
  font-size:14px;
}
.main-content__steps__item{
  &:last-of-type{
    margin-bottom: 0px;
  }
  margin-bottom:8px; 
}
.main-form{
  form{
    padding-left: 85px;
  }
  font-size: 16px;
  color: #2b2b2b;
  padding-top:3px;
  padding-left:15px;
  padding-right:15px;
  max-width:700px;
  margin: 32px auto;
  clear:both;
}
 .main-form__label{
   padding-top:0px !important;
   @include make-xs-column(3);
 }
.form-group--number{
  & .main-form__label{
   line-height: 50px;
  }
  
}
.main-form__value{
  
  &.main-form__value--name{
   line-height:30px;
  }
   @include make-xs-column(4);
   padding-left:0px;
   padding-right:0px;
}
.main-form__submit{
  button{
     padding:0;
    height:40px;
    line-height:38px;
    width:120px;
    font-size: 16px;
    background-color: #004098;
    color:white;
    outline: none;
    border-radius: 0px;
    border: 1px solid #004098;
  }
  @include make-xs-column(4);
   @include make-xs-column-offset(3);
   padding-top: 10px;
   padding-left:0px;
}
.main-form__value input{
  min-height:50px;
  border-radius:0px;
}
.main-form .form-group{
  padding-bottom: 0px;
  margin-bottom: 20px;
  min-height:30px;
}
.form-group--img .main-form__label{
  line-height: 39px;
}
.main-form .form-group.form-group--number{
  margin-bottom: 32px;
}
.flexbox .main-form__value__img{
 display: flex;
 align-items: center;
 justify-content: center;
} 
.main-form__value__img{
  cursor:pointer;
  &:last-of-type{
    margin-right: 0px;
  }
  position: relative;
  border:1px solid #e4e4e4;
  display: block;
  float:left;
  text-align: center;
  margin-right: 18px;
  img{
    
    max-width:100%;
  }
  width:120px;
  height:120px;

}
.main-form__value__img::after{
  content:'';
  position: absolute;
  width:20px;
  height:20px;
  background: url('../images/glass.png');
  bottom:0px;
  right:0px;

}
.main-form__upload{
  button{
    padding:0;
    height:40px;
    line-height:38px;
    width:120px;
    font-size: 16px;
    background-color: #f1f2f3;
    color:#666666;
    outline: none;
    border-radius: 0px;
  }
   @include make-xs-column(3);
   padding-left:17px;
}
.main-form__upload #input{
  display: none;
}




p{
  margin-bottom:0px;
}

.main-content .row{
  margin-left:-35px;
}
.dropdown-menu{
  a{
    &:hover{
      background-color: white !important; 
    }
 padding:2px !important;
 margin: 2px;
  }
  a::after{
    content: none;
  }
  color:rgb(51, 51, 51);
  background-color: rgb(241, 242, 243);
  border:none;
  padding-top:0px;
  padding-bottom:0px;
  font-size: 13px;
  font-family: 'Microsoft YaHei';
  right:0px;
  left:inherit;
  padding-right:0px;
  top:20px;
  min-width: 65px;

}

.main-content__column{
  &:last-of-type{
      padding-left:65px;
      padding-right: 15px;
  }
  font-size:18px;
   @include make-xs-column(5);
    padding-right:5px;
    padding-left:37px;
    line-height:20px;
}
footer{
  color:#666666;
  font-size: 14px;
  .footer-links{
    padding-left:0px;
    padding-top:35px;
    text-align: center;
ul{
    li{
      &:last-of-type{
        border-right:0px;
      }
      padding-right:18px;
      padding-left:18px;
      display: inline-block;
      border-right:1px solid #666666;
    }
    display:block;
    margin: 0 auto;
    padding-left:0px;
  }
  } 
}
.footer-id{
  text-align: center;
  margin-top:15px;
  padding-bottom:40px;
}
.footer-id__name:after{
content:':';
padding-left:5px;
}
.footer-id__name, .footer-id__value{
  display: inline-block;
}
.remodal{
  h3{
    &::after{
      left:48px;
      top:-10px;
      position: absolute;
      width:56px;
      height:56px;
      background: url('../images/icon_ok.png');
      content:'';
    }
    position: relative;
    margin-top:52px;
    padding-left:58px;
    font-size: 22px;
    font-weight: bold;
    color: #2b2b2b;
  }
  box-shadow: 0px 0px 0px 7px rgba(0,0,0,0.24);
  width:390px;
  height:240px;
}
.popup-content{
  padding-left:64px;
   div{
  
  display:inline-block;
}
}
.remodal-overlay{
  background: rgba(0, 0, 0, 0.3);
}
.remodal-photo.remodal{
  width:auto;
  max-width:90%;
  height:auto;
  max-height:90%; 
  overflow-y: scroll;
}
@media (max-width: $screen-lg-min) { 
  .content-nav{
    margin-left: 300px;
  }
}