$icon-font-path: '../fonts/';
// bower:scss
$screen-lg: 1300px;
$grid-columns:              10;
$grid-gutter-width: 30px;
$container-large-desktop:      (1220px + $grid-gutter-width);

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@font-face {
font-family: HelveticaNeueCyr;
src: url("../fonts/helveticaneuecyr-medium.otf") format("opentype");
}
@font-face {
font-family: HelveticaNeueCyrBold;
src: url("../fonts/helveticaneuecyr-bold.otf") format("opentype");
}

// endbower

//header
body{
  padding-left: 5px;
  font-family: 'Microsoft YaHei';
}
.header {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #f1f2f3;
}
.container{
  min-width:1000px
}
.header .container{
  padding-left: 15px;
  padding-right: 15px;
}
.menu {
  min-height: 16px;
  font-family: 'Microsoft YaHei';
  @at-root #{&}-block {
    &.menu-block--left {
      float: left;
    }
    &.menu-block--right {
      float: right;
    }
    margin-bottom:0px;
    display: block;
    font-size:13px;
    line-height: 16px;
  }
  @include make-row;
}
.menu-block{
  padding-left: 0px;
}
.menu-block .menu-item:last-of-type{
   border-right:0px;
}
.menu-block .menu-item:last-of-type{
   border-right:0px;
}
.menu-item {
  a {
    color: #6a6b6c;
    margin-right: 31px;
    text-decoration: normal;
  }
  color:#6a6b6c;
  position: relative;
  display: inline-block;
  border-right:1px solid #c4c5c6;
  padding-left:20px;
  
  //padding-right:40px;
}

.menu-item--location {
  padding-left:24px;
  color: #6a6b6c;
}

.menu-item--location a::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 1px;
  width: 14px;
  height: 20px;
  font-size: 17px;
  color: #004098;
   background: url('../images/pin.png');
}
.menu-item--phone{
  margin-left:15px;
  padding-left: 28px;
  padding-right:14px;
}
.menu-item--phone::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 18px;
  height: 18px;
  font-size: 17px;
  background: url('../images/phone.png');
}
.menu-item--price{
margin-left: 15px;
padding-left: 32px;
}

.menu-item--price a::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 23px;
  height: 18px;
  background: url('../images/rate.png');
  font-family: Glyphicons Halflings;
}
.menu-item a{
  &:hover{
color:black;
  }
  text-decoration: none;
  

}
.menu-item a::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 15px;
  background: url('../images/arrow.png') no-repeat center;
  right: 14px;
  transition: all 300ms ease-in;
}
.menu-item .open  a::after {
  transform: scaleY(-1);
  background: url('../images/arrow.png') no-repeat center;
 
}
.menu-item--price a::after {
  right: 16px;
}

.menu-item--logout::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  background: url('../images/logout.png') no-repeat center;
  color: #004098;
  font-family: Glyphicons Halflings;
}
.menu-item--user::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  font-size: 17px;
  background: url('../images/person.png') no-repeat center;
  font-family: Glyphicons Halflings;
}
.menu-item--list::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  font-size: 17px;
  background: url('../images/notes.png') no-repeat center;
  font-family: Glyphicons Halflings;
}
.menu-item--currency{
  position: relative;
  padding-left:13px; 
  a{
  &::after{ 
    right:8px;
  }
 
 margin-right: 30px; 
}
} 
.menu-item--user{
  &::before{
    top:-1px;
    left:15px;
    width:17px;
    height:19px;
  }
  padding-right:15px;
  padding-left:36px; 
}

.menu-item--list{
  &::before{
    top:-1px;
    left:13px;
    width:17px;
    height:19px;
  }
  padding-right: 15px;
padding-left: 33px;
}
.menu-item--logout{
  &::before{
    top:-1px;
    left:10px;
    width:17px;
    height:19px;
  }
  span{
    padding-right:10px;
  }
  padding-right: 15px;
  padding-left: 28px;
  cursor:pointer;
}
.c-blue{
  color:#004098;
}

//content-header
.content-header{
  font-family:'Microsoft YaHei';
  position: relative;
  min-height:143px;
  background: url('../images/logo.png') no-repeat;
  background-position: 2px 50%;
}
.content-header--auth{
 min-height:124px;
 border-bottom:3px solid #004098
}
.content-nav{
  display: block;
  width:293px;
  text-align: center;
 margin: 32px 494px 10px auto;
  min-width:100px;
  min-height:90px;

}
.content-nav__item{
  &:last-of-type{
    width:97px;
  }
  width:97px;
  float:left;
  display: block;
}
.content-nav__item a{
  text-decoration: none;
}
.content-nav__item__txt{
  text-decoration: none;
  font-size:18px;
  color: #004098;
  margin: 0 auto;
  margin-top: 8px;
  width:56px;
}
.content-nav__item:hover .content-nav__item__img{
  transform: scale(1.05,1.05);
}
.content-nav__item__img{
  transition: all 300ms linear;
  position: relative;
  margin: 0 auto;
  width:56px;
  height:56px;
   height:56px;
  border-radius:50%;
  background-color: #004098;
}
content-nav__item__img{
  padding:20px;
}
.content-nav__item--active .content-nav__item__img {
  background: #e56109;
}
.content-nav__item--active .content-nav__item__txt {
  color: #e56109;
}
.content-nav__item .content-nav__item__img::after{
  content:'';
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.content-nav__item--look .content-nav__item__img::after{
  background: url('../images/look.png') no-repeat center;
}
.content-nav__item--list .content-nav__item__img::after{
  background: url('../images/list.png') no-repeat center;;
}
.content-nav__item--params .content-nav__item__img::after{
  background: url('../images/params.png') no-repeat center;;
}
.language-selector{
  position: absolute;
  right:0px;
  top:25px;
  font-family: 'Microsoft YaHei';
  font-size: 13px;
  li{
    display: inline-block;
  }
  display:block;
}
.language-selector__item a{
  text-decoration: none;
  color:#004098;
}
.language-selector__item a::before{
  position: absolute;
  content:'';
  width:24px;
  height:16px;
  top:2px;
  left:5px;
  
}
.language-selector__item--ch a::before{
background: url('../images/ch.png');
}
.language-selector__item--ru a::before{
background: url('../images/ru.png');
}
.language-selector__item--en a::before{
background: url('../images/gb.png');
}
.language-selector__item{
  position: relative;
  padding-right:13px;
  padding-left: 32px; 
  margin-left:8px;
 border-right:1px solid #c4c5c6;
}
.language-selector__item--en{
  padding-right:10px;
  margin-left: 9px;
}
.language-selector__item--ch{
  padding-right:14px;
}
.language-selector__item:last-of-type{
  border-right:0px;
  padding-right: 0px;
}
.content-cart{
  &:hover{
    border:1px solid white;
  }
  transition: all 300ms ease-in;
   font-family: 'Microsoft YaHei';
  .content-cart__name{
    color:#6a6b6c;
    font-size: 15px;
     margin-left: 40px;
    &::before{
    content:'';
    position: absolute;
    width:24px;
    height:21px;
    background: url('../images/cart.png');
    left:33px;
   
    
  }
  }
  background-color: #f1f2f3;
  padding:10px 27px 10px 30px;
  position: absolute;
  right:0px;
  bottom:14px;
  border: 1px solid #e4e5e6;
  outline: none;
}
.content-cart__count{
 
  box-sizing: border-box;
  color:white;
  position: absolute;
  font-size: 12px;
  background-color: #dd0e00;
  top:3px;
  line-height: 16px;
  padding-right:3px;
  padding-left:3px;
  border-radius:8px;;
  height:16px;
  right:5px;
}
.flexbox .main{
  display: flex;
  align-items: stretch;
}
no-flexbox .main{
  display: block
}
.sidebar{
  position: realtive;
  background-color: #f4f5f6;
   @include make-xs-column(2);
   padding-left:0px;
   font-family:'HelveticaNeueCyrBold';
   padding-right:0px;
}
.sidebar-header{
  &::before{
    content:'';
    position: absolute;
    left:10px;
    height:100%;
    width:24px;
    background:url('../images/car.png') no-repeat left center;;
  }
  box-sizing: border-box;
  height:44px;
  line-height: 44px;
  font-weight: bold;
  margin: 0px;
  position: relative;
  padding-left: 45px;
  font-size:16px;
  font-size: bold;
  border-bottom:2px solid #e1e2e3;
}
.bold{
  font-weight: bold;
}
.sidebar-text{
  line-height: 18px;
    word-wrap: break-word;
  color:#454545;
  padding:19px 20px 110px 15px;
  font-size: 16px;
  font-weight: normal;
}
.sidebar-img{
  position: absolute;
  bottom:45px;
  width:100%;
  text-align: center
}
.main-content{
  color:#6a6b6c;
  font-family: 'HelveticaNeueCyr';
  @include make-xs-column(8);
  padding-left:35px;
 
}
p{
  margin-bottom:0px;
}
.main-content__header{
  text-align: center;
  color: #004098;
  font-size: 30px;
}
.main-content .row{
  margin-left:-35px;
}
.dropdown-menu{
  a{
    &:hover{
      background-color: white !important; 
    }
 padding:2px !important;
 margin: 2px;
  }
  a::after{
    content: none;
  }
  color:rgb(51, 51, 51);
  background-color: rgb(241, 242, 243);
  border:none;
  padding-top:0px;
  padding-bottom:0px;
  font-size: 13px;
  font-family: 'Microsoft YaHei';
  right:0px;
  left:inherit;
  padding-right:0px;
  top:20px;
  min-width: 65px;

}
.main-content__header {

  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 17px;
  padding-top:11px;
  padding-right:4px; 
}
.main-content__column{
  &:last-of-type{
      padding-left:65px;
      padding-right: 15px;
  }
  font-size:18px;
   @include make-xs-column(5);
    padding-right:5px;
    padding-left:37px;
    line-height:20px;
}


@media (max-width: $screen-lg-min) { 
  .content-nav{
    margin-left: 300px;
  }
}